.mb-0 {
    margin-bottom: 0px;
}
.mb-sm {
    margin-bottom: 0.5em;
}
.mb-md {
    margin-bottom: 1em;
}
.pr-0 {
    padding-right: 0px;
}
.pl-0 {
    padding-left: 0px;
}
.logo {
    img {
        width: 100%;
    }
}
.skin-purple {
    .wrapper, .main-sidebar, .left-side {
        background-color: #002d5b;
    }
    .main-header {
        .logo, .logo:hover {
            background-color: #002d5b;
        }
        .navbar {
            background-color: #ffffff;
            -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
            .nav>li>a {
                color: #011a35;
            }
            .nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>.active>a {
                background: rgba(255, 255, 255, 0.1);
                color: #011a35;
                height: 50px;
                border-bottom: 4px solid #002d5b;
            }
            .navbar-custom-menu {
                .user-menu {
                    a, a:hover, a:focus {
                      border-bottom: 0px;
                    }
                    .dropdown-menu {
                        width: 200px;
                        margin-right: 12px;
                        margin-top: 12px;
                        -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
                        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
                        >li {
                            padding: 8px 0px;
                            &.user-body {
                                border-top: 0px;
                            }
                        }
                        .user-footer {
                            background: #FFF;
                        }
                        .item {
                            .fa  {
                                margin-right: 10px;
                            }
                            a {
                                color: #011a35 !important;
                                padding: 5px 14px;
                                display: block;
                                &:hover {
                                    background: #e8e8e8;
                                }
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: -18px;
                            border-style: solid;
                            border-width: 9px;
                            border-color: transparent transparent #fff;
                            right: 18px;
                        }
                    }
                }
            }
        }
    }
    .sidebar-menu {
        >li:hover>a, >li.active>a, >li.menu-open>a {
            color: #fff;
            background: #001a35;
        }
        >li.active>a {
            border-left-color: #ffffff;
        }
        >li>.treeview-menu {
            background: #011a35;
        }
    }
}

.ReactTable {
    .rt-th {
        text-align: left;
        font-weight: bold;
        padding: 10px !important;
        border-right: 0px !important;
        text-overflow: unset;
    }
    .rt-tbody {
        .rt-td {
            padding: 12px 10px;
            border-right: 0px !important;
            text-overflow: unset;
            &.option-column {
                padding: 7px 10px 0px 10px;
            }
        }
    }
}

.login-page {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}

.pagination>li.break {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.content-header {
    >.breadcrumb {
        clear: left;
        position: static;
        float: none;
    }
    .component-wrapper {
        float: right;
        width: 30em;
        text-align: right;
        .item {
            display: inline-block;
            margin-right: 12px;
            .date-range-wrapper {
                width: 230px;
                display: inline-block;
                margin-right: 10px;
            }
            &:last-child {
                margin-right: 0px;
            }
            .btn {
                float: right;
            }
        }
    }
  }

.btn {
    .fa {
        margin-right: 4px;
    }
}
.btn-primary, .btn-primary:hover {
    background-color: #002d5b;
    border-color: #002d5b;
}

.date-picker-container {
    .btn.display-date {
        box-shadow: none !important;
        background: #FFF;
        border: 1px solid #cccccc;
    }
}

.sidepopup-container {
    .modal-dialog {
        width: 500px;
        position: fixed;
        right: 0px;
        height: 100%;
        top: 0px;
        margin: 0px;
        .modal-content {
            position: absolute;
            right: 0px;
            height: 100%;
            width: 100%;
            top: 0px;
        }
        .modal-footer {
            .btn {
                min-width: 80px;
            }
        }
    }
    .sidepopup-note {
        text-align: left;
        box-shadow: none !important;
        padding-left: 0px;
        &:hover {
            cursor: default;
        }
    }
}
.form-group {
    label {
        font-weight: normal;
        &.bold {
            font-weight: 700;
        }
    }
}
.table-option {
    .btn {
        min-width: 80px;
    }
}
.bulk-delete-wrapper {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    padding-left: 250px;
    z-index: 3;
    -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.16);
}
.box-title.with-title {
    margin-top: 7px;
}

.dropzone-container {
    .dropzone-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        padding: 40px 20px;
        border-width: 2px;
        border-radius: 2px;
        border-color: #eeeeee;
        border-style: dashed;
        background-color: #fafafa;
        color: #bdbdbd;
        outline: none;
        transition: border .24s ease-in-out;
        &:hover {
            cursor: pointer;
        }
    }
    .thumbs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;
        .thumb-img-wrapper {
            display: inline-flex;
            border-radius: 2px;
            border: 1px solid #eaeaea;
            margin-bottom: 8px;
            margin-right: 8px;
            width: 135px;
            height: 135px;
            padding: 4px;
            box-sizing: border-box;
            .thumb-img-inner {
                display: flex;
                min-width: 0px;
                overflow: hidden;
                position: relative;
                &:hover {
                    cursor: zoom-in;
                }
                .thumb-img {
                    display: block;
                    width: auto;
                    height: 100%;
                }
                .thumb-img-remove {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: #d10101;
                    border: 0px;
                    color: #FFFFFF;
                    border-radius: 50%;
                    outline: none;
                }
            }
        }
    }
}

hr.divider {
    margin-top: 0px;
    margin-bottom: 10px;
}

.upload-single-image {
    position: relative;
    border: 1px solid #ddd;
    width: 225px;
    margin-top: 5px;
}
.upload-single-image__img {
    width: 100%;
    display: block;
}
.upload-single-image__button {
    border-radius: 0px;
    border: 0px;
    border-top: 1px solid #ddd !important;
}

.upload-file-box {
    border: 1px solid #cacaca;
    height: 100px;
    width: 100px;
    float: left;
    margin: 5px;
    text-align: center;
    .fa-camera {
        color: #cacaca;
        font-size: 2.5em;
        position: relative;
        top: 0.90em;
    }
    .fa-close {
        font-size: 18px;
        position: relative;
        top: 4px;
    }
    &:hover {
        cursor: pointer;
    }
}
.upload-file-box__loading {
    width: 60px;
    margin-top: 8px;
    margin-bottom: 3px;
}
.upload-file-box__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
.upload-file-box__image-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 26px;
    width: 26px;
    background: rgba(51, 51, 51, 0.68);
    color: #FFF;
    &:hover {
        cursor: default;
    }
}

/* The container */
.checkbox-wrap {
    width: 25px;
    display: inline-block;
}
.checkbox-wrap + span {
    position: relative;
    bottom: 1px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #002d5b;
    border: 1px solid #002d5b;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }