$IconSearch: "../images/ic-search.png";
$Avatar: "../images/default-photo.png";
$iconProfilePhotoSize: 27px;
$primary-font: 'SourceSansPro-SemiBold';
$secondary-font: 'SourceSansPro-Regular';
@font-face {
	font-family: 'SourceSansPro-SemiBold';
	src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

html,
body {
  height: 100%;
}
body {
  font-family: $primary-font, sans-serif !important;
  font-size: 14px;
	overflow-x: hidden;
  overflow-y: auto;
  background: #fafafa;
}
.i-default {
  background-size: unset;
  display: inline-block;
  height: unset;
  width: unset;
}
.banner-slideshow {
  .slick-list {
    height: 399px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  }
}
.banner-img {
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
}
.search-result-wrapper {
  position: fixed;
  top: 44px;
  background: #FFF;
  padding-top: 4px;
  width: 30.65em;
  border-radius: 0px 0px 4px 4px;
  .search-result-row {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    a {
      color: #4c4c4c !important;
    }
  }
}
.review-product-readonly-wrapper {
  .review-row-wrapper {
    padding: 15px 0px 10px 0px;
    border-bottom: 1px dashed #ababab;
    .review-row-header {
      img {
        width: 46px;
        border-radius: 4px;
        float: left;
      }
      .review-info {
        display: inline-block;
        margin-left: 10px;
      }
      .review-date {
        margin-left: 5px;
        font-size: 14px;
        color: #5a5a5a;
        position: relative;
        bottom: 1px;
      }
      margin-bottom: 14px;
    }
    .review-row-body {
      display: block;
      .review-img-list {
        margin-top: 12px;
        ul {
          li {
            display: inline-block;
            margin-right: 12px;
            img {
              height: 80px;
              width: 80px;
              object-fit: cover;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
.rating-row-wrapper {
  .rating-header {
    .left, .right {
      display: inline-block;
      width: 15%;
    }
    .right {
      width: 85%;
    }
    .left {
      padding: 12px 20px;
      img {
        width: 45px;
      }
    }
    border-bottom: 1px solid #cccccc;
  }
  .rating-list-wrapper {
    .rating-item {
      i {
        font-size: 22px !important;
        height: auto;
        width: auto;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  background: #FFF;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  .upload-rating-photo-button {
    border: 1px solid #be3a69;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    color: #be3a69 !important;
    .mdi {
      font-size: 26px;
      margin-bottom: 12px;
    }
    .lightweight-text {
      position: absolute;
      bottom: 3px;
      font-size: 12px;
      text-align: center;
      width: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .thumb-img-wrapper {
    display: inline-flex;
    border-radius: 0px;
    border: 0px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 80px;
    height: 80px;
    padding: 0px;
    box-sizing: border-box;
    .thumb-img-inner {
        display: flex;
        min-width: 0px;
        overflow: hidden;
        position: relative;
        &:hover {
          cursor: pointer !important;
        }
        .thumb-img {
          display: block;
          width: auto;
          height: 100%;
        }
        .thumb-img-remove {
          position: absolute;
          top: 5px;
          right: 5px;
          background: #bd3969;
          border: 0px;
          color: #FFFFFF;
          border-radius: 50%;
          outline: none;
        }
    }
    &.button {
      border: 1px dashed #bd3969;
      color: #bd3969 !important;
      .mdi {
        font-size: 26px;
        height: 26px;
        width: 26px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 4px;
      }
    }
  }
}
.icon-category {
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  display: block;
  width: 80px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  &.category-1 {
    background-image: url('../images/small-category-1.jpg');
  }
}
.has-error .form-control {
  border-color: #e32c2b;
}
.help-block {
  font-family: $secondary-font, sans-serif !important;
  font-weight: normal !important;
  color: #e32c2b !important;
}
.cart-loading-wrapper {
  width: 500px;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 1050;
  background: #ffffffbd;
  .table-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    .loading-content {
      display: table-cell;
      width: 100%;
      text-align: center;
      height: 100%;
      vertical-align: middle;
      img {
        height: 120px;
        width: 120px;
      }
      h5 {
        margin-top: 14px;
        font-size: 18px;
        color: #000 !important;
      }
    }
  }
}
.sidepopup-container {
  position: relative;
  .modal-header {
    .close {
      float: left !important;
      opacity: 1 !important;
      font-size: 30px !important;
      margin-top: -3px !important;
      margin-right: 14px !important;
      margin-left: 8px !important;
    }
    .close:focus, .close:hover {
      outline: none;
    }
  }
  .modal-dialog {
      width: 500px;
      position: fixed;
      right: 0px;
      height: 100%;
      top: 0px;
      margin: 0px;
      .modal-content {
          position: absolute;
          right: 0px;
          height: 100%;
          width: 100%;
          top: 0px;
          border: 0px;
      }
      .modal-footer {
          .btn {
              min-width: 80px;
          }
          padding: 0px;
      }
  }
  .sidepopup-note {
      text-align: left;
      box-shadow: none !important;
      padding: 6px 12px;
      &:hover {
          cursor: default;
      }
  }
}
.lightweight-text {
  font-family: $secondary-font, sans-serif !important;
  font-weight: normal !important;
}
.bold-text {
  font-family: $primary-font, sans-serif !important;
}
.uppercase-text {
  text-transform: uppercase;
}
.breadcrumb-ol {
  background: transparent !important;
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  margin-bottom: 13px;
}
.breadcrumb-style {
  padding-left: 0px;
  background: #FFF;
  font-family: $secondary-font, sans-serif !important;
  >li+li:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: #565656;
  }
}
.qr-code-wrapper {
  margin-top: 1.5em;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
  .title-header {
    background: #f2f2f2;
    text-align: center;
    padding: 6px;
  }
  .body-wrapper {
    padding: 6px;
    border: 1px solid #efefef;
    border-top: 0px;
    background: #FFF;
  }
  .left {
    width: 40%;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .right {
    float: right;
    width: 60%;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
    font-family: $secondary-font, sans-serif !important;
  }
}
.social-media-product-share {
  position: relative;
  top: 2px;
  margin-left: 10px;
  display: inline-block;
  li {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px 10px;
    margin-right: 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    background: #FFF;
    &.facebook-color {
      color: #3b5998;
    }
    &.twitter-color {
      color: #1da1f2;
    }
    &.whatsapp-color {
      color: #25d366;
    }
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.checkout-page-wrapper {
  background: #fafafa;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .left, .right {
    padding-top: 3em;
    display: inline-block;
    position: relative;
    float: left;
  }
  .left {
    padding-left: 9em;
    padding-right: 5em;
    width: 60%;
    min-height: 100%;
    background: #fff;
    border-right: 1px solid #d9d9d9;
  }
  .right {
    padding-left: 3.5em;
    padding-right: 5em;
    width: 40%;
    .cart-list {
      .cart-item-checkout {
        margin-bottom: 25px;
        .left, .middle, .right {
          float: none;
          padding: 0px;
          width: 55%;
          display: inline-block;
          border: 0px;
        }
        .left {
          position: relative;
          width: 15%;
          .qty-display {
            background: #cf4274;
            color: #FFF;
            border-radius: 50%;
            position: absolute;
            top: -6px;
            right: -7px;
            height: 22px;
            width: 22px;
            text-align: center;
            font-family: $secondary-font, sans-serif !important;
          }
          img {
            width: 100%;
            border-radius: 4px;
            border: 1px solid #b5b5b5;
          }
        }
        .right {
          width: 30%;
          text-align: right;
        }
        .middle {
          padding-left: 15px;
        }
      }
    }
  }
}
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
a {
	color: #bd1e6a;
	&:hover {
    color: #bd1e6a;
    text-decoration: none !important;
	}
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.mt-xs {
  margin-top: 12px;
}
.mt-sm {
  margin-top: 32px;
}
.mb-xs {
  margin-bottom: 12px;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-sm {
    margin-bottom: 0.5em;
}
.mb-md {
  margin-bottom: 1em;
}
.mb-lg {
  margin-bottom: 2em;
}
.padding-xs {
  padding: 10px;
}
.Toastify__toast {
  padding: 8px 20px !important;
}
.Toastify__toast-container--top-center {
  top: 8em !important;
}
.Toastify__toast--success {
  background: #bd1e6a !important;
  color: #FFF !important;
  font-family: $secondary-font, sans-serif !important;
  font-weight: normal !important;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  border-top: 0px;
  height: 1px;
}
.form-control {
  font-family: $secondary-font, sans-serif !important;
  color: #333;
}
.profile-wrapper {
  .content-text {
    font-family: $secondary-font, sans-serif !important;
    font-size: 16px;
  }
  .link-action {
    font-size: 14px;
    margin-left: 5px;
  }
  .divider {
    border-bottom: 2px solid #be3a68;
    width: 3%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 14px;
  }
}
.upload-photo-wrapper {
  width: 260px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding: 14px 14px 2px 14px;
  border: 1px solid #e0e0e0;
  img {
    width: 100%;
    border-radius: 3px;
  }
  .info-upload {
    color: #7d7d7d;
    margin-top: 10px;
    font-size: 12px;
  }
}
.product-detail-wrapper {
  h3.price-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .product-detail-content-wrapper {
    border: 1px solid #efefef;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    padding: 18px;
    background: #FFF;
    hr {
      margin: 18px 0px;
      border-top: 1px dashed #c7c7c7;
    }
  }
  .breadcrumb-style {
    margin-bottom: 10px;
    background: transparent !important;
  }
}
.input-group .form-control:focus {
  z-index: 2;
}
.page-breadcrumb-wrapper {
  border-bottom: 1px solid #efefef;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  padding: 8px 0px 15px 0px;
  background: #FFF;
  .breadcrumb-ol {
    margin-bottom: 4px;
  }
  .breadcrumb-wrapper-inner {
    border-bottom: 1px solid #efefef;
    margin-bottom: 16px;
  }
}
.btn {
  &.active, &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &.btn-default {
    outline: none !important;
    color: #be3a69 !important;
    background-color: #fff !important;
    border-color: #be3a69 !important;
    box-shadow: none !important;
    &.white {
      border: 1px solid #eee !important;
      background-color: #FFF !important;
      color: #333 !important;
    }
    &.green {
      border: 1px solid #a6c16d !important;
      color: #a6c16d !important;
    }
    &.grey {
      color: #666 !important;
      border: 1px solid #ddd !important;
      &:hover {
        border: 1px solid #bd1e6a !important;
      }
    }
    &.dark-grey {
      color: #6d6d6d !important;
      border: 1px solid #cccccc !important;
      background: #cccccc !important;  
    }
  }
  &.btn-transparent {
    color: #bd1e6a !important;
    background: transparent;
    outline: none !important;
    &:hover {
      background: #efefef;
    }
  }
  &.btn-primary {
		background: #bd1e6a !important;
    border: 1px solid #bd1e6a !important;
    outline: none !important;
    box-shadow: none !important;
    &.green {
      background: #a6c16d !important;
      border: 1px solid #a6c16d !important;
    }
  }
  &.btn-google {
    background: #DB4437 !important;
    color: #FFF !important;
    outline: none !important;
    border-color: #DB4437 !important;
    box-shadow: none !important;
    i {
      margin-right: 10px;
    }
  }
}
.btn-selengkapnya {
  background: #FFFFFF !important;
  border: 2px solid #CE2774 !important;
  color: #CE2774;
  text-transform: uppercase;
  outline: none !important;
  &:focus {
    box-shadow: none;
    color: #CE2774;
  } 
  &:active, &:hover {
      background: #CE2774 !important;
      color: #FFFFFF;
  }
}
button.close-custom {
  background: #d8d8d8 !important;
  outline: none !important;
  border: 0px !important;
  border-radius: 50% !important;
  height: 22px !important;
  width: 22px !important;
  padding: 0px !important;
  font-size: 16px !important;
  color: #3e3d3d !important;
  opacity: 1 !important;
  text-shadow: unset !important;
  position: relative;
  top: 4px;
}
.input-group {
  input, input:focus {
    border-right: 0px;
  }
  .input-group-addon {
    background: #FFF;
    border-radius: 0px;
    &.clickable {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.voucher-slide {

  .slick-prev, .slick-next {
    display: block !important;
    background: #FFF;
    border: 1px solid #fff;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.27);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.slick-prev {
    left: 3px;
    z-index: 1;
}
.slick-next {
  right: 3px;
  z-index: 1;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #FFF;
}
.slick-prev:before, .slick-next:before {
    color: #333;
    font-size: 20px !important;
    font: normal normal normal 14px/1 FontAwesome;
}
.slick-next:before {
    content: "\f105";
    position: relative;
    left: 1px;
}
.slick-prev:before {
    content: "\f104";
    position: relative;
    right: 1px;
}
}
.divider-with-text {
  position: relative;
  hr {
    width: 100%;
  }
  .text-wrapper {
    position: absolute;
    top: -11px;
    text-align: center;
    width: 100%;
    .text {
      display: inline-block;
      background: #FFF;
      padding: 0px 7px;
    }
  }
}
li {
  &.list-category {
      margin-bottom: 8px;
      &.category-name {
          a {
              color: #555555;
              font-family: $secondary-font, sans-serif !important;
          }
          &.active, &:hover {
              a {
                  color: #bd1e6a;
                  font-family: $primary-font, sans-serif !important;
                  text-decoration: none;
              }
          }
      }
  }
}
ul {
  &.list-group {
      li {
          &.list-group-item {
              position: relative;
              h6 {
                  font-size: 14px;
                  margin-bottom: 12px;
              }
          }
      }
  }
}
.custom-list-group {
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  .list-group-item {
    border-radius: 0px;
    border: 1px solid #efefef;
  }
}
.navbar-custom {
  background: #CE2774;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  position: fixed;
  z-index: 7;
  width: 100%;
  box-shadow: rgba(189, 57, 105, 0.59) 0px 3px 6px -1px;
  .navbar-brand {
    width: 13em;
    position: relative;
    height: 61px;
    display: block;
    img {
      height: 40px;
      position: absolute;
      top: 8px;
    }
  }
  .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover {
    background: #bd1e6a;
  }
  .navbar-nav>li>a:hover {
    background: #bd1e6a;
  }
  .navbar-nav>li>a:focus {
    background: #CE2774;
  }
  .navbar-nav > li > a {
    text-align: center;
    color: #FFF !important;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative !important;
    .icon-content {
      margin-top: 5px;
      margin-bottom: 2px;
      font-size: 18px;
      &.special {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .dropdown-menu {
    background-clip: unset;
    width: 200px;
    li a {
      font-family: $secondary-font, sans-serif !important;
      color: #666 !important;
      padding: 8px 20px;
      &:hover {
        color: #1c2224 !important;
      }
      i {
        display: inline-block !important;
        margin-right: 7px !important;
      }
    }
  }
}
.profile-photo {
	background-image: url($Avatar);
	height: $iconProfilePhotoSize;
	width: $iconProfilePhotoSize;
	position: relative;
	margin: 0px auto;
	display: block;
	border-radius: 2px;
	background-size: $iconProfilePhotoSize $iconProfilePhotoSize;
}
.ic-search {
	background-image: url($IconSearch);
	height: 20px;
	width: 20px;
	display: block;
	background-size: 20px 20px;
}
.search-input-wrapper {
	position: relative;
	border-radius: 4px;
  top: 3px;
  background: #FFF;
  .btn {
    outline: none !important;
  }
	input.form-control {
    border: 0px;
    outline: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
	}
	.btn-primary {
		background: #a6c16d !important;
		border: 1px solid #a6c16d !important;
		font-size: 14px !important;
		font-weight: bold !important;
		width: 100px !important;
    border-radius: 4px !important;
    margin: 5px;
    height: 30px;
    padding-top: 4px;
	}
}
.form-control, .form-control:focus {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #ccc;
}
.has-error {
  .form-control {
    box-shadow: none !important;
  }
}
.cart-list-wrapper {
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  .cart-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #d2d2d2;
    .text {
      font-family: $secondary-font, sans-serif !important;
    }
    &:last-child {
      border-bottom: 0px; 
    }
    .left, .middle, .right {
      display: inline-block;
    }
    .left {
      width: 20%;
      img {
        width: 100%;
        border-radius: 6px;
      }
    }
    .middle {
      width: 60%;
      padding-left: 10px;
      .title {
        width: 100%;
        text-overflow: ellipsis; 
        font-family: $secondary-font, sans-serif !important;
      }
      .subtitle {
        font-size: 16px;
      }
    }
    .right {
      width: 20%;
      text-align: right;
      button {
        margin-top: 3px;
        background: #d8d8d8;
        outline: none;
        border: 0px;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        padding-top: 0px;
        font-size: 16px;
        color: #3e3d3d;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.header {
      i {
        margin-right: 5px;
      }
      .title {
        font-size: 16px;
      }
    }
    &.footer {
      .left, .right {
        width: 50%;
      }
      .left {
        .subtitle {
          font-family: $secondary-font, sans-serif !important;
          font-size: 18px;
        }
      }
      .right {
        button {
          margin-top: 6px;
        }
      }
    }
  }
}
.category-menu-wrapper {
	ul {
		position: relative;
		margin: 0px auto;
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		li {
      display: inline-block;
      margin-right: 10px;
			margin-bottom: 10px;
			a {
				display: block;
				text-decoration: none !important;
				.panel {
          margin-bottom: 0px;
          box-shadow: none;
          .panel-body {
            width: 145px;
            text-align: center;
            font-size: 14px;
            color: #717171 !important
          }
          &:hover {
            .panel-body {
              color: #bd1e6a !important;
              background: #ececec;
            }
          }
        }
			}
		}
	}
}
.misoho-benefit-wrapper {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 29px;
  padding-bottom: 29px;
  background: #FFF;
  margin-top: 3em;
  .benefit-box {
    text-align: center
  }
  i {
    font-size: 26px;
    border: 0px;
    height: 2.25em;
    width: 2.25em;
    border-radius: 0;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background: #FFF;
    &.mdi:before {
      position: relative !important;
      top: 10px !important;
    }
  }
  h6 {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  p {
    font-family: $secondary-font, sans-serif !important;
  }
}
.product-review-wrapper {
  padding: 0px !important;
  .header-custom {
    border-bottom: 1px solid rgb(224, 224, 224);
    ul {
      margin: 0px;
      padding: 0px;
      li {
        min-width: 8.5em;
        text-align: center;
        display: inline-block;
        padding: 10px 10px;
        color: rgb(119, 119, 119);
        border-bottom: 3px solid transparent !important;
        &.active {
          border-bottom: 3px solid #bd1e6a !important;
          color: #bd1e6a;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .body-custom {
    padding: 18px;
    font-family: $secondary-font, sans-serif !important;
  }
}
.review-number {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: $secondary-font, sans-serif !important;
  bottom: 1px;
  margin-left: 4px;
  color: #777;
}
.rating-list-wrapper {
  display: inline-block;
  .rating-item {
    margin-right: 0px;
    display: inline-block;
    color: #f7d11f;
    font-size: 14px !important;
    &.empty {
      color: #cdcdcd;
    }
  }
}
.product-list-wrapper {
  display: block;
  position: relative;
  width: 100%;
  .overlay-wishlist {
    background: transparent;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    text-align: center;
    .btn {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 8px;
      right: 11px;
      border-radius: 50%;
      padding: 1px 0px 0px 9px;
      border: 0px;
      font-size: 18px;
      background-color: rgb(243, 244, 245) !important;
      text-align: left;
    }
  }
  ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
          display: inline-block;
          margin-right: 22px;
          margin-bottom: 22px;
          height: 340px;
          float: left;
          &:nth-child(5n+0) {
              margin-right: 0px;
          }
          a {
              text-decoration: none !important;
              color: #000;
          }
          .panel {
              position: relative;
              margin:0px;
              width: 206px;
              min-height: 290px;
              .panel-title {
                  font-size: 14px;
                  height: 32px;
                  overflow: hidden;
              }
              .panel-text {
                  color: #bd1e6a;
                  font-size: 14px;
              }
              .panel-img-top {
                  background-size: cover;
                  width: 100%;
                  height: 180px;
                  position: relative;
              }
              .panel-footer {
                display: none;
                position: relative;
                z-index: 1;
                .bottom-button-wrapper {
                  bottom: 0px;
                  width: 100%;
                  padding: 0px;
                }
              }
          }
          .overlay-img {
            background: #3333339c;
            width: 100%;
            height: 100%;
            display: none;
            position: relative;
            text-align: center;
            .btn {
              width: 70%;
              position: relative;
              top: 5em;
            }
          }
          &:hover {
            .overlay-img {
              display: block;
            }
            .panel-footer {
              display: block;
            }
          }
      }
  }
  &.small {
    ul {
      li {
        margin-right: 15px;
        margin-bottom: 15px;
        height: 25em;
        .panel {
          width: 200px;
        }
      }
    }
  }
  &.product-wishlist {
    ul {
      li {
        .panel {
          width: 195px;
        }
        .overlay-wishlist {
          display: block;
        }
        &:hover {
          .overlay-img {
            display: none;
          }
        }
        a {
          position: relative;
        }
      }
    }
  }
}
.show-calculate-button {
  span {
    margin-right: 3px;
  }
  &:hover {
    cursor: pointer;
  }
}
.calculate-shipping-wrapper {
  display: block;
  width: 100%;
  .label-text {
    position: relative;
    top: 6px;
    color: #333 !important;
    font-family: $secondary-font, sans-serif !important;
  }
}
.info-product-list {
  li {
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid #E5E7E9;
    &:last-child {
      border-right: 0px;
    }
    &:first-child {
      padding-left: 0px;
    }
  }
}
.footer-container {
	padding-top: 2em;
	margin-top: 0em;
	position: relative;
	.company-short-bio {
		.title {
			font-size: 16px;
		}
	}
	.footer-menu-info {
		padding: 18px 0px;
		border-top: 1px dashed #FFFFFF;
		h5 {
			font-size: 16px;
			margin-bottom: 10px;
		}
		li {
			margin-top: 3px;
      color: #333;
      font-family: $secondary-font, sans-serif !important;
			a {
        color: #333;
        font-family: $secondary-font, sans-serif !important;
			}
		}
		.social-media-list {
			li {
				background: #333;
				margin-right: 10px;
				border-radius: 50%;
				display: inline-block;
				a {
          height: 34px;
          text-align: center;
          width: 34px;
          display: block;
          color: #FFF;
          padding-top: 6px;
          font-size: 16px;
				}
			}
			li.fb {
				background: #3b5998;
			}
			li.ig {
				background: #405de6;
			}
			li.tw {
				background: #1da1f2;
			}
		}
	}
}
.top-search-container {
  display: block;
  position: fixed;
  top: 57px;
  z-index: 5;
  width: 100%;
  background: #bd1e6a;
  .title {
      display: inline-block;
      width: 10%;
      padding-left: 7px;
      h5 {
          color: #FFF;
          font-size: 14px;
      }
  }
  .content {
      display: inline-block;
      width: 90%;
      li {
          display: inline-block;
          margin: 10px 10px 9px 10px;
          margin-right: 3px;
          a {
              display: block;
              padding: 5px;
              border-radius: 30px;
              background: #d7217b;
              color: #FFF;
              text-decoration: none;
              font-size: 14px;
              width: 115px;
              text-align: center;
          }
      }
  }
}
.modal {
  background: rgba(0,0,0,0.48);
  .modal-content {
    border-radius: 0px;
  }
  .modal-body {
    position: relative;
    .modal-body-overlay {
      position: absolute;
      top: 0px;
      width: 100%;
      background: #ffffffb5;
    }
  }
}
.app-overlay {
  position: fixed;
  top: 58px;
  background: rgba(0,0,0,0.48);
  height: 100%;
  width: 100%;
  z-index: 6;
  left: 0;
  &:hover {
    cursor: default;
  }
}
i.icon-loading {
  background-image: url('../images/loading-white.gif');
  background-size: cover;
  height: 20px;
  display: block;
  width: 20px;
  position: relative;
  margin: 0px auto;
}
.footer-container.copyright {
  border-top: 1px solid #efefef;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #333;
	margin-top: 0px;
	background: #FFF;
}
.qty-input-wrapper {
  width: 8em;
  input.form-control {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }
  .input-group-btn {
    z-index: 4 !important;
    .btn {
      border-radius: 50% !important;
      width: 28px;
      height: 28px;
      padding-left: 6px;
    }
  }
}
.loading-wrapper {
  background: #ffffff;
  position: fixed;
  top: 4em;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
  left: 0;
  .table-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    .loading-content {
      display: table-cell;
      width: 100%;
      text-align: center;
      height: 100%;
      vertical-align: middle;
      img {
        height: 120px;
        width: 120px;
      }
      h5 {
        margin-top: 14px;
        font-size: 18px;
      }
    }
  }
  &.absolute-loading {
    position: absolute;
    z-index: 2;
    top: 0;
    .table-wrapper {
      .loading-content {
        vertical-align: unset;
        padding-top: 5em;
      }
    }
  }
  &.full-page-loading {
    top: 0em !important;
    background: #ffffff4f;
  }
}
.badge-cart {
  position: absolute;
  background: rgb(166, 193, 109);
  color: rgb(255, 255, 255);
  width: 19px;
  height: 19px;
  top: 7px;
  border-radius: 50%;
  right: 24px;
  font-size: 0.9em;
  font-family: $secondary-font, sans-serif !important;
  font-weight: normal !important;
}
.cart-page-container {
  .panel-default {
    border: 0px;
    .panel-heading {
      padding-left: 0px;
      background: transparent;
      border: 0px;
    }
    .panel-body {
      border: 1px solid #ddd;
      &.clickable {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .qty-input-wrapper {
    margin-top: 9px;
  }
  .trash-button-wrapper {
    position: relative;
    top: 1.75em;
  }
}
i {
  background-size: cover;
  height: 14px;
  display: block;
  width: 14px;
  &.icon-plus {
    background-image: url('../images/icons/plus.png');
  }
  &.icon-minus {
    background-image: url('../images/icons/minus.png');
  }
  &.icon-bca {
    background-image: url('../images/icons/bca.png');
  }
  &.icon-bni {
    background-image: url('../images/icons/bni.png');
  }
  &.icon-bri {
    background-image: url('../images/icons/bri.png');
  }
  &.icon-mandiri {
    background-image: url('../images/icons/mandiri.png');
  }
  &.footer-icn-1 {
    background-image: url('../images/footer/footer-icn-1.png');
  }
  &.footer-icn-2 {
    background-image: url('../images/footer/footer-icn-2.png');
  }
  &.footer-icn-3 {
    background-image: url('../images/footer/footer-icn-3.png');
  }
  &.footer-icn-4 {
    background-image: url('../images/footer/footer-icn-4.png');
  }
  &.icon-float-chat {
    background-image: url('../images/icon_float_chat.png');
  }
  &.large {
    height: 64px;
    width: 64px;
  }
  &.icon-coin-wallet {
    background-image: url('../images/icons/coin-wallet.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 6px;
  }
  &.icon-planner {
    background-image: url('../images/icons/icon-planner.png');
    display: inline-block;
    height: 26px;
    width: 26px;
    position: relative;
    float: left;
    margin-right: 8px;
    top: 5px;
  }
  &.icon-discount {
    background-image: url('../images/icons/icon-discount.png');
    display: inline-block;
    height: 21px;
    width: 21px;
    position: relative;
    float: left;
    margin-right: 10px;
    top: 0px;
  }
}
.voucher-item {
  position: relative;
  background: #FFF;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 272.5px;
  &:nth-child(3n+0) {
    margin-right: 0px;
  }
}
.voucher-item__img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.voucher_item__circle-left {
  height: 25px;
  width: 22px;
  background: #fafafa;
  position: absolute;
  top: 35px;
  left: -8px;
  border-radius: 0 50% 50% 0;
}
.voucher_item__circle-right {
  height: 25px;
  width: 22px;
  background: #fafafa;
  position: absolute;
  top: 35px;
  right: -8px;
  border-radius: 50% 0 0 50%;
}
.float-chat-button {
  position: fixed;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: #a6c16d;
  bottom: 20px;
  right: 20px;
  z-index: 7;
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
}
.float-chat-button__icon {
  position: relative;
  margin: 0 auto;
  width: 34px;
  height: 34px;
  top: 15px;
}
.my-address-box {
  display: block;
  width: 100%;
  float: left;
}
.my-courier-list {
  display: block;
  border: 1px solid #e5e5e5;
  background: #FFF;
  > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 18px;
    background: #fafafa;
    position: relative;
    .mcl-left, .mcl-right {
      display: inline-block;
      width: 50%;
    }
    .mcl-left {
      padding-left: 2.5em;
    }
    .mcl-right {
      text-align: right;
      float: right;
    }
    &:last-child {
      border-bottom: 0px;
    }
    .radio-wrapper {
      position: absolute;
      top: 4px;
    }
    &.choosen {
      background: #FFFFFF;
    }
    .list-content {
      display: none;
      font-family: $secondary-font, sans-serif !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.my-payment-list {
  > li {
    padding: 0px;
  }
  .header-content {
    height: 46px;
    padding-top: 11px;
    .radio-wrapper {
      left: 19px;
      top: -3px;
    }
    .mcl-left {
      padding-left: 4em;
      padding-top: 1px;
    }
    .mcl-right {
      padding-right: 2em;
      .fa {
        font-size: 22px;
      }
    }
  }
  .list-content {
    padding: 18px;
  }
  .choosen {
    .header-content {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .list-normal {
    list-style-type: disc;
    margin-left: 18px;
    li {
      margin-bottom: 0.25em;
    }
  }
}
.bank-list-icon {
  margin: 0px;
  padding: 0px;
  li {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    i {
      width: 70px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.my-address-list {
  display: block;
  li {
    border: 1px solid #c8c8c8;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    display: inline-block;
    .title {
      padding: 6px 10px;
      border-bottom: 1px solid #c8c8c8;
      font-size: 16px;
      .left, .right {
        display: inline-block;
      }
      .left {
        width: 70%;
      }
      .right {
        display: none;
        text-align: right;
        width: 30%;
        .fa-check-circle {
          color: #4e9900;
        }
      }
    }
    .body {
      padding: 6px 10px;
      font-family: $secondary-font, sans-serif !important;
    }
    &:hover {
      cursor: pointer;
      .title .right {
        display: inline-block;
      }
    }
    &.choosen {
      .title .right {
        display: inline-block;
      }
    }
  }
}
.my-address-page-container {
  display: block;
  .my-address-item {
    border: 1px solid #d2d2d2;
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    margin-bottom: 1em;
    padding: 10px 14px;
    float: left;
    h5 {
      margin: 0px;
      margin-top: 2px;
      font-size: 16px;
    }
    &.add-address {
      border: 1px solid #333;
      height: 263px;
      border: 2px dashed #a6c16d;
      .add-address-placeholder {
        text-align: center;
        position: relative;
        top: 5em;
        .fa {
          color: #a6c16d;
          font-size: 4em;
          width: auto;
        }
        h4 {
          color: #a6c16d;
          font-size: 16px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &.popup {
    .my-address-item {
      width: 31%;
      // min-height: 263px;
      &.add-address {
        height: 222px;
        .add-address-placeholder {
          top: 4em;
        }
      }
    }
  }
}
.choose-voucher-button {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 5px 0px;
  background: #FFF;
  padding: 13px 15px 13px;
  border-radius: 4px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.voucher-code-input {
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  background: #FFF;
  padding: 13px 15px 13px;
  border-radius: 4px;
  position: relative;
  label {
    font-family: $secondary-font, sans-serif !important;
    font-weight: normal !important;
  }
  .form-control {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left: 0px;
    font-family: $primary-font, sans-serif !important;
    color: #000 !important;
  }
}
.auth-user-menu {
  border: 1px solid #efefef;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  background: #FFF;
  border-radius: 4px;
  li {
    .account-spoiler {
      padding: 10px;
      .left, .right {
        width: 25%;
        display: inline-block;
      }
      img {
        border-radius: 3px;
      }
      .right {
        padding-left: 12px;
        width: 75%;
        .small-text {
          font-family: $secondary-font, sans-serif !important;
          font-weight: normal !important;
          font-size: 12px;
        }
      }
      .saldo-wrapper {
        margin-top: 15px;
        margin-bottom: 5px;
        .fa-money {
          color: #42b549;
          margin-right: 8px;
          font-size: 16px;
          position: relative;
          top: 1px;
        }
      }
    }
    a {
      border-bottom: 1px solid #efefef;
      display: block;
      padding: 10px;
      color: #4e4e4e;
      text-decoration: none !important;
      font-family: $secondary-font, sans-serif;
      &:hover {
        background: #f5f5f5;
        color: #bd1e6a;
        font-family: $secondary-font, sans-serif;
      }
    }
    &.active {
      a {
        background: #f5f5f5;
        color: #bd1e6a;
        font-family: $primary-font, sans-serif;
      }
    }
    &:last-child {
      a {
        border-bottom: 0px;
      }
    }
  }
}
.profile-container {
  .header-title {
    font-family: $primary-font, sans-serif !important;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 3px;
    color: #be3a69;
    border: 1px solid #efefef;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    background: #FFF;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
  }
}
.order-list-item {
  font-family: $secondary-font, sans-serif !important;
  margin-bottom: 10px;
  background: #FFF;
  .special {
    color: #be3a69;
  }
  .summary {
    border: 1px solid #efefef;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
    padding: 12px;
    position: relative;
    z-index: 1;
  }
  strong {
    font-family: $primary-font, sans-serif !important;
  }
  .collapse-button {
    display: inline-block;
    margin-right: 20px;
    color: #be3a69;
    i {
      position: relative;
      top: 5px;
      font-size: 2em !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .content-body {
    font-family: $primary-font, sans-serif !important;
    border: 1px solid #efefef;
    border-top: 0px;
    padding: 12px;
    position: relative;
    background: #FFF;
    .order-product-item {
      img {
        width: 110px;
      }
      margin-bottom: 16px;
    }
  }
}
.order-detail-wrapper {
  .order-product-item-container {
    border: 1px solid #efefef;
    padding: 16px;
    .order-product-item {
      img {
        width: 105px;
      }
      margin-bottom: 16px;
    }
  }
}
.image-wrapper {
  .left {
    .product-img {
      background-size: cover;
      width: 60px;
      height: 60px;
    }
    ul {
      margin-top: 10px;
      li {
        margin-right: 10px;
        display: inline-block;
        &.active {
          .product-img {
            border: 2px solid #CE2774; 
          }
       }
      }
    }
  }
  .right {
    .product-img {
      width: 100%;
      height: auto;
    }
  }
}
.product-box-info {
  border: 1px dashed #9a9a9a;
  padding: 10px 15px;
}
.choose-city-container {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #FFF;
  border: solid 8px #e0e0e0;
  width: 35em;
  z-index: 1;
  &.show {
      display: block;
  }
  &.hide {
      display: none;
  }
  .header {
      border-bottom: 1px solid #d6d6d6;
      .form-group {
          margin-bottom: 0px;
      }
      .close {
          font-size: 35px;
          display: inline-block;
          &:focus {
              outline: none;
          }
      }
  }
  .content {
      height: 300px;
      display: block;
      width: 100%;
      position: relative;
      overflow-y: auto;
      // overflow: auto;
      .city-data {
          position: relative;
          height: 100%;
          // overflow: auto;
          .city-row {
              margin-top: 12px;
              margin-bottom: 20px;
              h5 {
                  margin-left: 2%;
                  font-size: 14px;
              }
              ul {
                  display: table;
                  width: 100%;
                  li {
                      display: inline-table;
                      width: 30%;
                      margin-bottom: 8px;
                      vertical-align: top;
                      margin-left: 2%;
                  }
              }
          }
      }
      .data-empty-wrapper {
          display: table;
          width: 100%;
          height: 100%;
          .data-empty-info {
              text-align: center;
              display: table-cell;
              vertical-align: middle;
          }
      }
      
  }
  .footer {
      border-top: 1px solid #d6d6d6;
  }
  .header, .content, .footer {
      padding: 8px;
  }
  .header {
      padding-left: 18px;
      padding-right: 18px;
  }
}
.my-pagination-wrapper {
  .my-pagination {
      margin: 0px;
      padding: 0px;
      margin-top: 10px; }

  .my-pagination li {
      border: 0px !important;
      display: inline-block;
      margin: 0 5px;
      &.previous {
          &.active {
            display: none;
          }
          a {
            padding: 5px 10px !important;
          }
      }
      &.next {
          &.active {
            display: none;
          }
          a {
            padding: 5px 10px !important;
          }
      }
  }

  .my-pagination li.break {
      padding: 5px 10px;
      border: 0;
      background: transparent;
  }

  .my-pagination li a {
      box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12) !important;
      display: block;
      color: #868686;
      background: #FFF;
      border-radius: 5px;
      border: 1px solid #efefef;
      transition: all .2s ease;
      padding: 5px 14px;
      outline: none !important;
      text-decoration: none !important; }

  .my-pagination li a:hover {
      text-decoration: none;
      display: block;
      border-radius: 5px;
      cursor: pointer;
      background: #bd1e6a;
      color: #FFF;
      padding: 5px 14px;
      outline: none !important;
      text-decoration: none !important; }

  .my-pagination li.active a {
      display: block;
      background: #bd1e6a;
      color: #FFF;
      padding: 5px 14px;
      outline: none !important;
      text-decoration: none !important; 
  }
  
  .my-pagination li.previous a, .my-pagination li.next a {
      color: #bd1e6a;
      &:hover {
        color: #FFF;
      }
  }

  .my-pagination li.previous.active a, .my-pagination li.next.active a  {
      background: #f7f7f7;
      color: #999;
  }

  .my-pagination li.next {
      display: inline-block;
      border-right: 1px solid #e0e0e0; 
  }
  
}

.rc-slider-track {
  background-color: #a6c16d !important;
}
.rc-slider-handle {
  border: solid 2px #a6c16d !important;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px #a6c16dc9 !important;
}

.btn-input-group-search {
  border-color: #ccc !important;
  border-left: 0px;
  color: #aaa2b3 !important;
  background: #FFF;
  outline: none !important;
}

/*
 * Plugin: Select2
 * ---------------
 */
 .select2-container--default.select2-container--focus,
 .select2-selection.select2-container--focus,
 .select2-container--default:focus,
 .select2-selection:focus,
 .select2-container--default:active,
 .select2-selection:active {
   outline: none;
 }
 .select2-container--default .select2-selection--single,
 .select2-selection .select2-selection--single {
   border: 1px solid #d2d6de;
   border-radius: 0;
   padding: 6px 12px;
   height: 34px;
 }
 .select2-container--default.select2-container--open {
   border-color: #3c8dbc;
 }
 .select2-dropdown {
   border: 1px solid #d2d6de;
   border-radius: 0;
 }
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
   background-color: #3c8dbc;
   color: white;
 }
 .select2-results__option {
   padding: 6px 12px;
   user-select: none;
   -webkit-user-select: none;
 }
 .select2-container .select2-selection--single .select2-selection__rendered {
   padding-left: 0;
   padding-right: 0;
   height: auto;
   margin-top: -4px;
 }
 .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
   padding-right: 6px;
   padding-left: 20px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 28px;
   right: 3px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow b {
   margin-top: 0;
 }
 .select2-dropdown .select2-search__field,
 .select2-search--inline .select2-search__field {
   border: 1px solid #d2d6de;
 }
 .select2-dropdown .select2-search__field:focus,
 .select2-search--inline .select2-search__field:focus {
   outline: none;
 }
 .select2-container--default.select2-container--focus .select2-selection--multiple,
 .select2-container--default .select2-search--dropdown .select2-search__field {
   border-color: #3c8dbc !important;
 }
 .select2-container--default .select2-results__option[aria-disabled=true] {
   color: #999;
 }
 .select2-container--default .select2-results__option[aria-selected=true] {
   background-color: #ddd;
 }
 .select2-container--default .select2-results__option[aria-selected=true],
 .select2-container--default .select2-results__option[aria-selected=true]:hover {
   color: #444;
 }
 .select2-container--default .select2-selection--multiple {
   border: 1px solid #d2d6de;
   border-radius: 0;
 }
 .select2-container--default .select2-selection--multiple:focus {
   border-color: #3c8dbc;
 }
 .select2-container--default.select2-container--focus .select2-selection--multiple {
   border-color: #d2d6de;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice {
   background-color: #3c8dbc;
   border-color: #367fa9;
   padding: 1px 10px;
   color: #fff;
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
   margin-right: 5px;
   color: rgba(255, 255, 255, 0.7);
 }
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
   color: #fff;
 }
 .select2-container .select2-selection--single .select2-selection__rendered {
   padding-right: 10px;
 }
 .select2-container {
  font-family: $secondary-font, sans-serif !important;
  font-weight: normal !important;
 }