.category-section {
    width: 100%;
    position: relative;
}
.category-section__title {
    border-left: 3px solid #be3a69;
    padding-left: 8px;
    font-size: 18px;
    margin-bottom: 10px;
}
.category-section__inner {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
}
.category-section__item {
    display: inline-block;
    margin: 0px;
    text-align: center;
    min-width: 124px;
}
// custom style slick slideshow
.category-section {
    .slick-prev, .slick-next {
        display: block !important;
        background: #FFF;
        border: 1px solid #fff;
        box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.27);
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .slick-prev {
        left: -30px;
    }
    .slick-next {
        right: -30px;
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background: #FFF;
    }
    .slick-prev:before, .slick-next:before {
        color: #333;
        font-size: 20px !important;
        font: normal normal normal 14px/1 FontAwesome;
    }
    .slick-next:before {
        content: "\f105";
        position: relative;
        left: 1px;
    }
    .slick-prev:before {
        content: "\f104";
        position: relative;
        right: 1px;
    }
}