@charset 'UTF-8';

.slick-prev, .slick-next {
    display: none !important;
  }

  .slick-dots {
    bottom: 15px !important;
  }

  .slick-dots li button:before {
    background: #ccc !important;
    color: transparent !important;
    border: 3px solid #fff !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    width: 16px !important;
    height: 16px !important;
  }

  .slick-dots li.slick-active button:before, .slick-dots li:hover button:before {
    opacity: 1 !important;
    background: #555 !important;
    color: transparent !important;
  }