.radio-wrapper {
    /* The container */
    .radio-container {
        display: inline-block;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #FFF;
        border-radius: 50%;
        border: 1px solid #bbb;
    }
    
    /* On mouse-over, add a grey background color */
    .radio-container:hover input ~ .checkmark {
        background-color: #FFF;
        border: 1px solid #bd1e6a;
    }
    
    /* When the radio button is checked, add a blue background */
    .radio-container input:checked ~ .checkmark {
        background-color: #bd1e6a;
        border: 1px solid #bd1e6a;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .radio-container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .radio-container .checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #FFFFFF !important;
    }    
}