/**
 * Checkbox
 */

/* The container */

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 0px;
	margin-bottom: 0px;
	color: #434343;
	cursor: pointer;
	font-size: 14px;
	top: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container .label {
    position: relative;
    float: left;
    left: 1.5em;
    color: #333;
    font-size: 100%;
    bottom: 1px;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #FFF;
    border: 1px solid #888888;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
	background-color: #bd1e6a;
	border: 1px solid #bd1e6a;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
	left: 6px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox-container + label {
	color: #383838;
    vertical-align: middle;
    margin-left: 25px;
}