.product-section {
  display: block;
  position: relative;
  width: 100%;
}
.product-section__title {
  border-left: 3px solid #be3a69;
  padding-left: 8px;
  font-size: 18px;
  margin-bottom: 10px;
}
.product-section__inner {
  position: relative;
  min-height: 23em;
  margin-top: 20px;
}
.product-list__li {
    &:nth-child(5n+0) {
      margin-right: 0px;
    }
    display: inline-flex;
    margin: 0px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.product-list__li--nth-child-4 {
  &:nth-child(5n+0) {
    margin-right: 12px;
  }
  &:nth-child(4n+0) {
    margin-right: 0px;
  }
}