.product-item {
    width: 218px;
    min-height: 325px;
    background: #FFF;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
}
.product_item--padding-xs {
    padding: 10px;
}
.product-item__img {
    width: 100%;
    height: 210px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.product-item__title {
    max-height: 44px;
    display: inline-block;
    overflow: hidden;
    color: rgb(51, 51, 51);
}
.product-item__price {
    color: #bd3969;
}
.product-item__rating {
    margin-top: 5px;
}
.product-item--review-total {
    margin-left: 4px;
    color: rgba(49, 53, 59, 0.73);
}
.product-item--small {
    width: 202px;
    min-height: 295px;
    .product-item__img {
        height: 180px;
    }
}